<app-workspace-launching
        *ngIf="workspace?.status.phase === 'Launching'"
        [workspace]="workspace">
</app-workspace-launching>

<app-workspace-updating
        *ngIf="workspace?.status.phase === 'Updating' || workspace?.status.phase === 'Pausing'"
        [workspace]="workspace">
</app-workspace-updating>

<app-workspace-paused
        *ngIf="workspace?.status.phase === 'Paused'"
        [disabled]="state === 'Resuming'"
        [workspace]="workspace"
        (onResume)="onResume($event)">
</app-workspace-paused>
<div *ngIf="workspace?.status.phase === 'Running' && workspaceUrl">
    <iframe [src]="workspaceUrl">
    </iframe>
</div>

<div>
    <div id="bottom-panel" class="bottom-panel">
        <div class="bg-primary rounded-circle op-info-button shadow-lg pointer-hover" [style.position]="position" (click)="onToggleWorkspaceDetails()">
            <img src="/assets/images/icon-circle.png"/>
        </div>
        <div class="workspace-info" *ngIf="showWorkspaceDetails">
            <app-workspace-status-bar
                [workspace]="workspace"
                (pause)="onPause($event)"
                (delete)="onDelete($event)">
            </app-workspace-status-bar>
            <div class="p-4 bg-background-color d-flex">
                <app-workspace-identifier
                    class="third"
                    [namespace]="namespace"
                    [workspace]="workspace">
                </app-workspace-identifier>

                <app-workspace-view-parameters
                        class="border-right pl-6 pr-6 third"
                        [workspace]="workspace"
                        [state]="state"
                        (updateWorkspace)="onUpdateWorkspace($event)">
                </app-workspace-view-parameters>

                <app-file-sync
                        class="pl-6 flex-grow-1 third"
                        [namespace]="namespace"
                        [workspace]="workspace">

                </app-file-sync>
            </div>
        </div>
    </div>
</div>
