<app-workspace-launching
        *ngIf="workspace?.status.phase === 'Started'"
        [workspace]="workspace">
</app-workspace-launching>

<app-workspace-paused
        *ngIf="workspace?.status.phase === 'Paused'"
        [disabled]="state === 'Resuming'"
        [workspace]="workspace"
        (onResume)="onResume($event)">
</app-workspace-paused>
<div *ngIf="workspace?.status.phase === 'Running' && workspaceUrl">
    <iframe [src]="workspaceUrl">
    </iframe>

    <div class="bg-primary rounded-circle op-info-button shadow-lg pointer-hover" (click)="onToggleWorkspaceDetails()">
    </div>

    <div class="workspace-info">
        <app-workspace-status-bar
            *ngIf="showWorkspaceDetails"
            [workspace]="workspace">

        </app-workspace-status-bar>
    </div>
</div>
