@import "../../../styles/colors";

iframe {
  width: 100vw;
  height: calc(100vh - 50px);
  border: none;
}

.bottom-panel {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.op-info-button {
  width: 60px;
  height: 60px;

  background-image: url("/assets/images/onepanel-logo-white.svg");
  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 20px;
  margin-left: 20px;
}

app-workspace-status-bar {
  width: 100%;
}

.workspace-info {
}
