<div *ngIf="machineType" class="d-flex align-items-baseline">
    <app-form [disabled]="state !== 'Running'" [fieldData]="[machineType]"></app-form>
    <button mat-flat-button color="accent" class="op-rounded op-button ml-10"
            (click)="update()"
            [disabled]="state !== 'Running'">
        <mat-spinner *ngIf="state === 'Updating'"
                     color="primary"
                     class="mr-2"
                     [diameter]="20"
                     [mode]="'indeterminate'">
        </mat-spinner>
        Update
    </button>
</div>

<app-workflow-parameter
        *ngFor="let param of formattedParameters" [parameter]="param"
        class="d-block mt-2">
</app-workflow-parameter>

