<div class="file-sync font-roboto">
    <div class="font-weight-bold font-size-large">Sync files</div>
    <div class="mt-3">
        <label class="font-weight-bold font-size-regular">Local path:</label>
        <input class="ml-2" />
    </div>
    <div class="d-flex align-items-center mt-3">
        <label class="font-weight-bold font-size-regular">Object storage:</label>
        <div class="ml-2">path</div>
        <button mat-stroked-button color="primary" class="primary-border ml-2">Browse</button>
    </div>
    <div class="mt-3">
        <mat-checkbox>Delete files in destination if they don't exist in origin</mat-checkbox>
    </div>
    <div class="mt-3">
        <button mat-stroked-button color="primary" class="primary-border">From object storage</button>
        <button mat-stroked-button color="primary" class="primary-border ml-2">To object storage</button>
    </div>
</div>
