<div class="workspace-updating d-flex flex-column m-auto align-items-center font-proxima justify-content-between">
    <div class="d-flex flex-column align-items-center">
        <img src="/assets/images/workspace-launch.svg" width="198"/>
        <div class="launching-workspace-title mt-5 color-primary font-size-XXL">{{workspace?.status.phase | titlecase}} your workspace ...</div>
        <div class="mt-5 loading">
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div class="text-center font-size-regular">
        <div class="font-weight-bold"><i class="fas fa-lightbulb"></i> Tip</div>
        <div class="mt-1">You can use Onepanel's SDK to execute workflows right from this workspace.</div>
    </div>
</div>
