<mat-form-field appearance="outline" class="onepanel-dynamic-select">
    <mat-label>
        <ng-container *ngIf="data.displayName">
            {{data.displayName}}
        </ng-container>
        <ng-container *ngIf="!data.displayName">
            {{data.name}}
        </ng-container>
    </mat-label>
    <mat-select [formControl]="selectControl" [(ngModel)]="data.value" [disabled]="disabled">
        <mat-option *ngFor="let option of options" [value]="option.value">
            {{option.name}}
        </mat-option>
    </mat-select>
    <mat-hint *ngIf="data.hint" [innerHtml]="data.hint"></mat-hint>
    <mat-error>Must select a value</mat-error>
</mat-form-field>
