.workflow-executions-list {
  .workflow-execution-item {
    padding: 20px;
    background-color: white;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  .name a {
    text-decoration: none;
    color: black;

    &:visited {
      text-decoration: none;
      color: black;;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
