@import "../../styles/colors";
@import "../../styles/styles";

.alert {
  @include op-border();
  padding: 4px 20px;
}

.alert-success {
  border-color: $success;
  background-color: $success-light;
}

.alert-danger {
  border-color: $danger;
  background-color: $danger-light;
  color: $danger;

  .alert-title {
    font-weight: bold;
  }
}

.alert-action {

}

.alert-info {

}
