<div class="d-flex justify-content-center align-items-center login">
    <div class="op-info-box content">
        <div class="font-proxima-bold font-size-larger color-primary">Log in</div>
        <form class="mt-3" [formGroup]="form">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Token</mat-label>
                <input matInput formControlName="token" />
                <mat-error>{{tokenInput.getError('error')}}</mat-error>
            </mat-form-field>

            <div>
                <button mat-flat-button color="accent" class="op-rounded op-button border-secondary" (click)="login()">LOGIN</button>
            </div>
        </form>
    </div>
</div>
