$primary-light: #EDF2FD;
$primary-lighter: #BED2FE;
$primary: #01579b;
$primary-dark: rgba(1,87,155,0.1);
$secondary: #ff9100;
$danger: #d32345;
$light-gray: #f5f6fa;
$medium-gray: #888888;
$success-light: #EBF6EE;
$success: #37AD58;

$background-color: $light-gray;

$colors: (
  "white": white,
  "black": black,
  "primary-light": $primary-light,
  "primary-lighter": $primary-lighter,
  "primary": $primary,
  "primary-dark": $primary-dark,
  "secondary": $secondary,
  "danger": $danger,
  "light-gray": $light-gray,
  "medium-gray": $medium-gray,
  "success-light": $success-light,
  "success": $success,
)
