@import "colors";

// Utilities

.m-auto {
  margin: auto !important;
}

@each $name, $color in $colors {
  .border-#{$name} {
    border-color: $color !important;
  }

  .bg-#{$name} {
    background-color: $color !important;
  }

  .font-#{$name} {
    color: $color !important;
  }
}

$spacer: 0.25rem;
@for $i from 1 through 20 {
  .mt-#{$i} {
    margin-top: ($i * $spacer) !important;
  }

  .mr-#{$i} {
    margin-right: ($i * $spacer) !important;
  }

  .mb-#{$i} {
    margin-bottom: ($i * $spacer) !important;
  }

  .ml-#{$i} {
    margin-left: ($i * $spacer) !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;;
}

.pr-0 {
  padding-right: 0 !important;;
}

.ml-p40 {
  margin-left: 40px !important;
}


.h-100 {
  height: 100%;
}

// End utilities

body {
  padding: 0;
  margin: 0;
  background-color: $light-gray;
}

.page {
  margin: 40px 40px 40px 40px;

  .page-header {
    width: 100%;

    .page-links {
      margin-bottom: 15px;
    }

    .page-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .page-title-text {
      font-family: 'Proxima Nova Regular', sans-serif;
      font-size: 30px;
      color: $primary;
    }
  }
}

.op-h1 {
  font-size: 30px;
  font-family: 'Proxima Nova Regular', sans-serif;
  color: $primary;
}

.op-h2 {
  font-size: 24px;
  font-family: 'Proxima Nova Regular', sans-serif;
  color: $primary;
}

.dialog {
  margin: 35px 50px;
}

a {
  &:visited {
    color: black;
  }
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-1 {
  height: 1px;
}

.divider {
  border-style: solid;
}

.m-w-standard {
  max-width: 1050px;
}

.w-standard {
  width: 1050px;
}

.m-w-large {
  max-width: 1200px;
}

.m-w-xlarge {
  max-width: 1400px;
}

.op-rounded {
  border-radius: 2px !important;;
}

.op-button {
  height: 44px;
  text-transform: uppercase;

  .mat-button-wrapper {
    line-height: 44px;
    font-size: 16px;
  }
}


$opTableCornerRadius: 4px;

.op-table.mat-table {
  background-color: transparent;
  border-collapse: collapse;

  td.mat-cell {
    border-bottom-color: $gray;
    font-size: 16px;
  }

  thead {
    color: $medium-gray;
    background-color: $light-gray;

    th {
      font-size: 16px;
      border-bottom: none;
    }
  }

  tbody {
    box-shadow: 0 0 0 1px $gray;
    border-radius: $opTableCornerRadius;
    background-color: white;

    tr:first-of-type {
      td:first-of-type {
        border-top: none;
        border-top-left-radius: $opTableCornerRadius;
      }

      td:last-of-type {
        border-top: none;
        border-top-right-radius: $opTableCornerRadius;
      }
    }

    tr:last-of-type {
      td:first-of-type {
        border-bottom: none;
        border-bottom-left-radius: $opTableCornerRadius;
      }

      td:last-of-type {
        border-bottom: none;
        border-bottom-right-radius: $opTableCornerRadius;
      }
    }
  }
}

.op-expansion-panel.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.op-select .mat-form-field-outline {
  background-color: white;
}

.link-button {
  color: $primary;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Proxima Nova Bold', sans-serif;

  &:visited {
    color: $primary;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }

  &:hover {
    cursor: pointer;
  }
}

// Visibility

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}


// Font

.bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// Display

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.op-back-link {
  color: $medium-gray;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  &:visited {
    color: $medium-gray;
  }

  i {
    margin-right: 6px;
  }
}
.op-info-box {
  border: solid 1px $gray;
  border-radius: $opTableCornerRadius;
  background-color: white;
  padding: 22px 30px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 24px;
      font-family: 'Proxima Nova Regular', sans-serif;
      color: $primary;
    }

    .actions {
    }
  }

  .info {
    font-size: 14px;
    color: $medium-gray;
  }
}

.font-proxima {
  font-family: 'Proxima Nova Regular', sans-serif;
}

.font-proxima-bold {
  font-family: 'Proxima Nova Bold', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-roboto-bold {
  font-family: 'Roboto Bold', sans-serif;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-small {
  font-size: 14px !important;
}

.font-size-regular {
  font-size: 16px !important;
}

.font-size-large {
  font-size: 20px !important;
}

.font-size-larger {
  font-size: 24px !important;
}

.line-height-large {
  line-height: 20px;
}

.header-text {
  color: $primary;
  font-size: 30px;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.header-2-text {
  color: $primary;
  font-size: 24px;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.header-3-text {
  color: $primary;
  font-size: 20px;
  font-family: 'Proxima Nova Regular', sans-serif;
}


@mixin op-border() {
  border: solid 1px $gray;
  border-radius: $opTableCornerRadius;
}

.op-border {
  @include op-border();
}

.no-borders {
  border: none;
}

.op-border-top {
  border-top: solid 1px $gray;
}

.op-just-border-top {
  border: none;
  border-top: solid 1px $gray;
}

.op-just-border-bottom {
  border: none;
  border-bottom: solid 1px $gray !important;
}

.op-border-bottom {
  border-bottom: solid 1px $gray;
}

.hide-overflow {
  overflow: hidden;
}

.scroll-overflow {
  overflow: scroll;
}

@mixin op-selected-box($padding:0, $border-width: 2px) {
  @include op-border();
  padding: $padding;
  border-color: $primary;
  border-width: $border-width;
  background-color: $primary-light;
}

.cancel-button {
  text-transform: uppercase !important;
}
