<div class="page">
    <div class="page-links">
    </div>
    <div class="page-alerts mb-5">
        <app-alert-panel></app-alert-panel>
    </div>
    <div class="page-header d-flex align-items-baseline">
        <a [routerLink]="['/', this.namespace, 'workspaces']" class="op-back-link">
            <i class="fas fa-chevron-left"></i>
            <span>Back to workspaces</span>
        </a>
        <div class="page-title-text text-center flex-grow-1">
            Workspace template builder

            <div class="font-size-large color-black mt-3">
                Select an option to build your own template or start with a predefined workspace to customize.
            </div>
        </div>
    </div>

    <div class="page-body mt-5 workflow-list d-flex flex-wrap">
        <div>
            <div class="color-dark-gray font-roboto mb-3">New template</div>
            <app-workspace-template-summary-view
                    (click)="newWorkspaceTemplate()"
                    class="mr-3 pointer-hover"
                    [showMenu]="false"
                    [ngClass]="{selected: selectedTemplate === null}"
                    [template]="blankTemplate">
            </app-workspace-template-summary-view>
        </div>
        <div *ngFor="let template of workspaceTemplates; let index = index">
            <div class="color-dark-gray font-roboto mb-3">
                <ng-container *ngIf="index === 0">
                    Saved templates
                </ng-container>
                <ng-container *ngIf="index !== 0">
                    &nbsp;
                </ng-container>
            </div>
            <app-workspace-template-summary-view
                    (click)="selectTemplate(template)"
                    (createWorkspaceClicked)="createWorkspace($event)"
                    (deleteWorkspaceTemplateClicked)="deleteWorkspaceTemplate($event)"
                    class="mr-3 pointer-hover"
                    [ngClass]="{selected: selectedTemplate?.name === template.name}"
                    [template]="template">
            </app-workspace-template-summary-view>
        </div>
    </div>
    <mat-paginator class="no-background font-size-small"
                   *ngIf="workspaceTemplatesResponse"
                   (page)="onPageChange($event)"
                   [pageIndex]="this.pagination.page"
                   [length]="this.workspaceTemplatesResponse.totalCount"
                   [pageSize]="this.pagination.pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

    <app-workspace-template-create
            *ngIf="state == 'create'"
            (cancelEmitted)="cancelWorkspaceTemplate()"
            (saveEmitted)="onCreate($event)"
            [loading]="creatingWorkspaceTemplate">
    </app-workspace-template-create>

    <app-workspace-template-edit
        *ngIf="state == 'edit'"
        [loading]="workspaceTemplateEditLoading"
        [namespace]="namespace"
        [workspaceTemplate]="selectedTemplate"
        (saveEmitted)="onEditUpdate($event)"
        (cancelEmitted)="cancelWorkspaceTemplate()">
    </app-workspace-template-edit>
</div>

