<div class="pl-5 pr-5 pb-5 pt-5 op-just-border op-round-bottom no-border-top">
    <div class="d-flex align-items-baseline justify-content-between">
        <form>
            <mat-form-field style="width:300px" appearance="outline" class="fix-mat-overflow">
                <mat-label>Search namespaces</mat-label>
                <input [formControl]="queryInput" matInput />
            </mat-form-field>
        </form>

        <button mat-flat-button color="accent" class="op-rounded op-button ml-p40" (click)="onNewNamespaceClick()">
            <mat-icon id="create-button" class="icon">add_circle</mat-icon>
            <span class="ml-1">NEW NAMESPACE</span>
        </button>
    </div>

    <div *ngFor="let namespace of namespaces" (click)="onNamespaceClick(namespace.name)" class="font-size-regular font-roboto namespace">
        {{namespace.name}}
    </div>
    <div *ngIf="namespaces.length == 0" class="font-roboto color-medium-gray">
        No namespaces found
    </div>
</div>
