<div class="page">
  <div class="page-header">
    <div class="page-links">
      <a [routerLink]="['/', this.namespace, 'workflow-templates']" class="op-back-link">
        <i class="fas fa-chevron-left"></i>
        <span>Back to workflows</span>
      </a>
    </div>
    <app-alert-panel class="mb-3 d-block"></app-alert-panel>
    <div class="page-title">
      <div class="page-title-text">Workflow details</div>
    </div>
  </div>

  <div class="page-body">
    <div class="op-info-box mt-8">
      <div class="header">
        <div *ngIf="workflowTemplate" class="title">{{workflowTemplate.name}}</div>
        <div *ngIf="workflowTemplate" class="actions font-roboto">
          <button mat-button color="primary" class="link-button font-size-regular" (click)="editSelectedWorkflowTemplateVersion()">
            <mat-icon [fontSet]="'fas'" [fontIcon]="'fa-pencil-alt'"></mat-icon>
            <span class="ml-2">Edit Template</span>
          </button>
          <button mat-button color="primary" class="link-button font-size-regular ml-10" (click)="cloneSelectedWorkflowTemplateVersion()">
            <mat-icon [fontSet]="'far'" [fontIcon]="'fa-clone'"></mat-icon>
            <span class="ml-2">Clone</span>
          </button>
          <button mat-button color="primary" class="link-button font-size-regular ml-10" (click)="deleteWorkflowTemplate()">
            <mat-icon [fontSet]="'fas'" [fontIcon]="'fa-trash-alt'"></mat-icon>
            Delete
          </button>
        </div>
      </div>
      <div class="d-flex align-items-baseline">
        <div *ngIf="workflowTemplate" class="info mt-2">
          <i class="far fa-calendar-check"></i>
          <span class="ml-2 font-roboto">Created</span>
          <app-date class="ml-2" [dateTime]="workflowTemplate.createdAt"></app-date>
        </div>
        <div *ngIf="labels?.length > 0"  class="font-roboto font-size-small color-medium-gray ml-5">Labels</div>
        <app-labels-list-view [labels]="labels" class="d-inline-block ml-2"></app-labels-list-view>
      </div>
    </div>

    <div class="d-flex align-items-baseline mt-5">
      <div class="header-2-text">Activity</div>
      <div class="flex-grow-1"></div>
      <button mat-flat-button color="accent" class="op-rounded op-button" (click)="executeWorkflow()">Execute Workflow</button>
    </div>

    <mat-tab-group class="no-bottom-border" (selectedTabChange)="onTabChange($event)" [dynamicHeight]="true">
      <mat-tab label="Executions">
        <div *ngIf="hasWorkflowExecutions">
          <app-workflow-executions-list
              *ngIf="workflows"
              [namespace]="namespace"
              [workflows]="workflows"
              (executionTerminated)="onWorkflowExecutionTerminated()">
          </app-workflow-executions-list>
          <mat-paginator class="no-background font-size-small"
                  *ngIf="workflowResponse"
                  (page)="onWorkflowPageChange($event)"
                  [pageIndex]="this.workflowPagination.page"
                  [length]="this.workflowResponse.totalCount"
                  [pageSize]="this.workflowPagination.pageSize"
                  [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
          <app-call-to-action *ngIf="showWorkflowExecutionsCallToAction">
            <div class="header">Get started with workflow executions</div>
            <div class="body">This is where all your workflow executions live.</div>
            <a class="action underline pointer-hover" (click)="executeWorkflow($event)" >Execute a workflow</a>
          </app-call-to-action>
      </mat-tab>

      <mat-tab label="Scheduled">
        <div *ngIf="hasCronWorkflows">
          <app-cron-workflow-list
                  *ngIf="cronWorkflows"
                  [namespace]="namespace"
                  [template]="workflowTemplate"
                  [cronWorkflows]="cronWorkflows"
                  (listRowsModified)="getCronWorkflows()">
          </app-cron-workflow-list>
          <mat-paginator class="no-background font-size-small"
                         *ngIf="cronWorkflowResponse"
                         (page)="onCronWorkflowPageChange($event)"
                         [pageIndex]="this.cronWorkflowPagination.page"
                         [length]="this.cronWorkflowResponse.totalCount"
                         [pageSize]="this.cronWorkflowPagination.pageSize"
                         [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
        <app-call-to-action *ngIf="showCronWorkflowsCallToAction">
          <div class="header">Get started with scheduled workflows</div>
          <div class="body">This is where all your scheduled workflows live.</div>
          <a class="action underline pointer-hover" (click)="executeWorkflow($event, true)">Schedule a workflow</a>
        </app-call-to-action>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
