@import "../../../styles/colors";
@import "../../../styles/font-variables";

.workflow-template-view {
  .definition-header {
    background-color: #F5F5F5;
    height: 40px;
  }

  .two-panels {
    display: flex;
    height: 500px;
    overflow: hidden;

    div {
      flex-grow: 1;
      resize: none;
      width: 50%;
    }

    app-dag {
      background-color: white;
      flex-grow: 1;
      width: 50%;
    }
  }

  /deep/ app-labels-list-view .labels-list-item {
    margin-top: 10px;
  }

  /deep/ mat-paginator .mat-icon-button {
    line-height: 27px !important;
  }

  /deep/ .call-to-action {
    margin-top: 15px;
  }

  /deep/ .loading-content {
    margin-top: 15px;
  }

  /deep/ .workflow-executions-list {
    @media screen and (max-width: 1800px) {
      /deep/ .cdk-column-metrics {
        display: none;
      }
    }

    @media screen and (max-width: 1580px) {
      /deep/ .cdk-column-template {
        display: none;
      }
    }

    @media screen and (max-width: 1250px) {
      /deep/ .cdk-column-end {
        display: none;
      }
    }

    @media screen and (max-width: 1050px) {
      /deep/ .cdk-column-start {
        display: none;
      }
    }

    @media screen and (max-width: 850px) {
      /deep/ .cdk-column-createdAt {
        display: none;
      }
    }
  }

  /deep/ app-cron-workflow-list cdk-header-row {
    display: none;
  }

  /deep/ .mat-tab-labels {
    opacity: 1;
    align-items: baseline;

    .mat-tab-label {
      .mat-tab-label-content {
        font-weight: bold;
        font-size: $fontRegular;
        text-transform: uppercase;
      }
    }

    .mat-tab-label-active {
      opacity: 1;

      .mat-tab-label-content {
        color: $primary;
      }
    }
  }
}
