<mat-form-field appearance="outline" class="onepanel-dynamic-textarea">
    <mat-label>
        <ng-container *ngIf="data.displayName">
            {{data.displayName}}
        </ng-container>
        <ng-container *ngIf="!data.displayName">
            {{data.name}}
        </ng-container>
    </mat-label>
    <textarea matInput [formControl]="textAreaControl" rows="5"></textarea>
    <mat-hint *ngIf="data.hint" [innerHtml]="data.hint"></mat-hint>
    <mat-error>Must not be blank</mat-error>
</mat-form-field>
