<div *ngFor="let item of items">
    <div class="font-size-regular font-proxima-bold d-flex align-items-center">
        <img [src]="item.header.image"/>
        <span class="template-header">{{item.header.title}}</span>
    </div>
    <ul>
        <li *ngFor="let template of item.children"
            class="font-size-regular font-proxima template-name"
            [ngClass]="{'selected': template.name === this.selectedTemplate}"
            (click)="selectTemplate(template.name)">
            {{template.name}}
        </li>
    </ul>
</div>
