<div class="op-border hide-overflow">
    <div class="bg-light-gray toolbar font-roboto font-size-regular">
        <span class="font-weight-bold">Location: </span>
        <span (click)="goToRoot()" class="pointer-hover">
            <span [class.active-link]="pathParts.length != 0">{{rootName}}</span>
            <span *ngIf="pathParts.length > 0" class="path-separator">/</span>
        </span>
        <app-breadcrumbs [parts]="pathParts" (breadcrumbClick)="onBreadcrumbClicked($event)"></app-breadcrumbs>
        <mat-spinner *ngIf="loading"
                color="primary"
                [diameter]="20"
                [mode]="'indeterminate'">
        </mat-spinner>
    </div>
    <app-file-navigator
            *ngIf="!showingFile"
            [fileNavigator]="fileNavigator"
            (fileAction)="onFileEvent($event)">
    </app-file-navigator>
    <app-generic-file-view
            *ngIf="showingFile"
            [namespace]="namespace"
            [name]="name"
            [file]="fileNavigator.file.value"
            (loading)="onFileLoadingChange($event)">
    </app-generic-file-view>
</div>
