@import "../../../styles/colors";

$borderColor: #c1c1c1;

// We add this to allow "hiding" any overflowing content
// e.g. if parent makes .toolbar sticky, the borders will show scrolling up
// this wrapper will hide them
.toolbar-wrapper {
  background: white;
}

.toolbar {
  padding: 5px 20px;
  min-height: 36px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: solid 1px $borderColor;
}

.lh-36 {
  line-height: 36px;
}

.active-link {
  color: $primary;
  text-decoration: underline;
}

mat-spinner {
  display: inline-block;
  margin-left: 6px;
  position: relative;
  top: 4px;
}

.file-toolbar {
  min-height: 38px;
  line-height: 38px;
  background-color: $medium-white;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: $light-white;
  padding: 0 20px;
  border-left: solid 1px $borderColor;
  border-right: solid 1px $borderColor;
}

.file-navigator {
  /deep/ .file-list-item {
    border-left: solid 1px $borderColor;
    border-right: solid 1px $borderColor;
  }
}

.breadcrumbs {
  .first-path-separator {
    padding-right: 1px;
  }

  .part {
    &.clickable {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .clickable {
    color: $primary;
    text-decoration: underline;
  }

  .separator {
    padding-left: 3px;
    padding-right: 3px;
  }

  .last {
    color: $medium-gray;
  }
}
