<div>
    <div class="toolbar-wrapper">
        <div class="bg-light-gray toolbar d-flex flex-wrap align-items-baseline font-roboto font-size-small">
            <div class="font-weight-bold lh-36">Location: </div>
            <div (click)="goToRoot()" class="pointer-hover ml-1">
                <span [class.active-link]="pathParts.length != 0 && rootName !== '/'">{{rootName}}</span>
                <span *ngIf="rootName !== '/' && pathParts.length > 0" class="path-separator">/</span>
            </div>
            <app-breadcrumbs [parts]="pathParts" (breadcrumbClick)="onBreadcrumbClicked($event)"></app-breadcrumbs>
            <mat-spinner *ngIf="loading"
                    color="primary"
                    [diameter]="20"
                    [mode]="'indeterminate'">
            </mat-spinner>
        </div>
    </div>
    <app-file-navigator
            *ngIf="!showingFile"
            class="file-navigator"
            [displayedColumns]="displayedColumns"
            [fileNavigator]="fileNavigator"
            (fileAction)="onFileEvent($event)">
    </app-file-navigator>
    <div *ngIf="showingFile" class="file-toolbar font-roboto font-size-small color-darker-gray d-flex justify-content-between">
        <div>
            <i class="far fa-file-alt"></i>
            <span class="font-weight-bold ml-1">{{fileNavigator.file.value.name}}</span>
            <span class="ml-2">{{fileNavigator.file.value.size | fileSize}}</span>
        </div>
        <div *ngIf="canDownload(fileNavigator.file.value)" class="pointer-hover" (click)="onFileDownload(fileNavigator.file.value)">
            <i class="fas fa-download"></i> Download
        </div>
    </div>
    <app-generic-file-view
            *ngIf="showingFile"
            [namespace]="namespace"
            [name]="name"
            [file]="fileNavigator.file.value"
            (loading)="onFileLoadingChange($event)"
            (actionClick)="onFileEvent($event)">
    </app-generic-file-view>
</div>
