<div class="workflow-execution-title op-h1">Execute Workflow</div>

<mat-dialog-content>
    <app-form
        *ngIf="parameters"
        [fieldData]="parameters"
        class="parameters mt-7 mr-12">
    </app-form>

    <div class="environment bg-primary-light op-rounded-regular mb-3">
        <div class="font-roboto-bold font-weight-bold font-size-regular">Environment variables</div>
        <div class="mt-1 font-roboto font-size-regular color-black">
            <div>
                Any environment variables you have created will be mounted on workflow execution.
            </div>
            <div class="color-primary underline pointer-hover mt-1" (click)="goToEnvironmentVariables()">
                Add or manage environment variables
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="op-border-top d-flex justify-content-between w-100">
    <button mat-button class="font-medium-gray cancel-button" (click)="cancel()">CANCEL</button>
    <button mat-flat-button color="accent" class="op-rounded op-button" (click)="execute()">Execute</button>
</mat-dialog-actions>
