.workspace-template-edit {
  margin-left: -40px;
  margin-right: -40px;

  .op-info-box {
    border-radius: 0;
    .header {
      &.no-justify {
        justify-content: unset;
      }
    }
  }

  .template-description {
    width: calc(50% - 1rem);
  }
}
