<div matDialogTitle class="font-roboto font-size-large font-weight-bold">Select folder</div>
<mat-dialog-content class="mat-dialog-content-height">
    <app-alert-panel class="d-block mt-3"></app-alert-panel>
    <app-file-browser class="d-block mt-3"
                      [displayedColumns]="['icon', 'name', 'size', 'actions']"
                      [rootName]="fileNavigator.displayRootPath"
                      [fileNavigator]="fileNavigator"
                      [namespace]="namespace"
                      [name]="fileNavigator.name">
    </app-file-browser>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between w-100 mt-5">
    <button mat-button class="font-medium-gray cancel-button" (click)="handleCancel()">CANCEL</button>
    <app-button color="primary" (click)="handleConfirm()">Confirm</app-button>
</mat-dialog-actions>
