.mat-dialog-content-height {
  height: 65vh;
}

.file-sync-file-browser {
  /deep/ .file-navigator {
    display: block;
    max-height: calc(65vh - 105px);
    overflow-y: scroll;

    .file-list-item {
      &:last-of-type {
        border-bottom: none !important;
      }
    }
  }

  /deep/ .paginator {
    border-top: 1px solid #c1c1c1;
  }
}
