<app-loading-content *ngIf="workflowExecutionsState === 'initialization'">
    Loading Workflows
</app-loading-content>
<app-list-filter
    *ngIf="hasWorkflowExecutions"
    [namespace]="namespace"
    [resource]="'workflow_execution'"
    (labelsChanged)="labelsChanged($event)">
</app-list-filter>
<app-workflow-executions-list
    *ngIf="hasWorkflowExecutions"
    [namespace]="namespace"
    [displayedColumns]="displayedColumns"
    [workflowExecutions]="workflows"
    (executionTerminated)="onWorkflowExecutionTerminated()"
    (sortChange)="sortData($event)">
</app-workflow-executions-list>
<mat-paginator class="no-background font-size-small"
               *ngIf="hasWorkflowExecutions"
               (page)="onPageChange($event)"
               [pageIndex]="this.page"
               [length]="this.workflowResponse.totalCount"
               [pageSize]="this.pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
