<cdk-table *ngIf="fileNavigator" [dataSource]="fileNavigator.files">
    <ng-container cdkColumnDef="name">
        <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
        <cdk-cell *cdkCellDef="let file">
            <div (click)="onFileClick(file)">{{file.name}}</div>
        </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="last-modified">
        <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
        <cdk-cell *cdkCellDef="let file" class="font-size-small font-roboto font-medium-gray">
            <div>{{file.lastModified | amTimeAgo}}</div>
        </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="size">
        <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
        <cdk-cell *cdkCellDef="let file" class="font-size-small font-roboto font-medium-gray ml-5">
            <div>{{file.size | fileSize}}</div>
        </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
        <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
        <cdk-cell *cdkCellDef="let workflow" class="d-inline-flex align-items-end">
        </cdk-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="op-table-header"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns"
             class="d-flex op-table-row align-items-center">
    </cdk-row>
</cdk-table>
