<div class="page">
    <div class="page-alerts mb-5">
        <app-alert-panel></app-alert-panel>
    </div>
    <div class="page-header">
        <div class="page-title">
            <div class="page-title-text">Workflows</div>
            <div class="page-action-bar d-flex">
                <button mat-stroked-button color="primary" class="op-rounded op-button vertical-align-icon vertical-baseline-mat-icon-fa" [routerLink]="['/', this.namespace, 'workflow-templates']">
                    <mat-icon [fontSet]="'fas'" [fontIcon]="'fa-desktop'"></mat-icon>
                    <span class="ml-1">WORKFLOW TEMPLATES</span>
                </button>
                <a mat-flat-button color="accent" class="op-rounded op-button ml-3" (click)="executeWorkflow($event)">
                    <mat-icon id="create-button" class="icon">add_circle</mat-icon>
                    <span class="ml-1">Execute Workflow</span>
                </a>
            </div>
        </div>
    </div>

    <div class="page-body mt-3 workflow-list">
        <app-workflow-executions
                [namespace]="namespace"
                [phase]="workflowExecutionPhase"
                [displayedColumns]="displayedColumns"
                [pageSize]="pageSize"
                (workflowsChanged)="onWorkflowsChanged($event)">
        </app-workflow-executions>
        <app-call-to-action *ngIf="hasWorkflowExecutions !== undefined && !hasWorkflowExecutions">
            <div class="header">Get started with workflow executions</div>
            <div class="body">This is where all your workflow executions live.</div>
            <a class="action underline pointer-hover" (click)="executeWorkflow($event)" >Execute a workflow</a>
        </app-call-to-action>
    </div>
</div>
