.workflow-executions-list {
  .op-table-header {
    margin-bottom: 0;
    padding: 20px !important;
  }

  .cdk-column-name {
    flex-basis: 200px;
  }

  .cdk-column-start {
    flex-basis: 200px;
  }

  .cdk-column-end {
    flex-basis: 200px;
  }

  .cdk-column-timestamps {
    flex-basis: 250px;
  }

  .cdk-column-status {
    flex-basis: 250px;
  }

  .cdk-column-actions {
    min-width: 80px;
  }

  .phase-image {
    position: relative;
    bottom: 1px;
  }
}

.workflow-menu-icon {
  width: 14px;
}
