<div class="workflow-executions-list">
    <cdk-table [dataSource]="workflowExecutions">
        <ng-container cdkColumnDef="name">
            <cdk-header-cell *cdkHeaderCellDef>Name</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow">
                <a class="name-link" [routerLink]="['/', this.namespace, 'workflows', workflow.name]" >{{workflow.name}}</a>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="start">
            <cdk-header-cell *cdkHeaderCellDef>Start</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="font-size-small font-roboto font-medium-gray">
                <div *ngIf="workflow.startedAt"><app-date class="" [dateTime]="workflow.startedAt"></app-date></div>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="end">
            <cdk-header-cell *cdkHeaderCellDef class="ml-5">End</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="font-size-small font-roboto font-medium-gray ml-5">
                <div *ngIf="workflow.finishedAt"><app-date class="" [dateTime]="workflow.finishedAt"></app-date></div>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="version">
            <cdk-header-cell *cdkHeaderCellDef class="ml-5">Version</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="font-size-small font-roboto font-medium-gray ml-5">
                <app-date class="timestamp d-inline-block" [dateTime]="workflow.workflowTemplate.createdAt"></app-date>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="status">
            <cdk-header-cell *cdkHeaderCellDef>Status</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="d-inline-flex align-items-center">
                <img *ngIf="workflow.phase" class="phase-image" [src]="workflow.phase | phaseImage"/>
                <div class="ml-2 font-roboto-bold font-weight-bold">{{workflow.phase | phaseTranslate}}</div>
                <span *ngIf="workflow && workflow.succeeded" class="ml-1"> in </span>
                <app-clock class="ml-2"
                           [startedAt]="workflow.createdAt"
                           [finishedAt]="workflow.finishedAt">
                </app-clock>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow">
                <div>
                    <a [routerLink]="['/', this.namespace, 'workflows', workflow.name]" class="link-button">View</a>
                    <button mat-icon-button color="primary" [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{'workflow': workflow}" (click)="onMatMenuOpen(workflow)">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="spacer">
            <cdk-header-cell *cdkHeaderCellDef class="font-roboto-bold font-size-regular color-medium-gray"></cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="flex-grow-1"></cdk-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="op-table-header d-flex"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: displayedColumns"
                 class="d-flex op-table-row align-items-center">
        </cdk-row>
    </cdk-table>
</div>

<mat-menu #appMenu="matMenu" class="font-roboto">
    <ng-template matMenuContent let-workflow="workflow">
        <div mat-menu-item *ngIf="!workflowExecutionPermissions.has(workflow.uid)" class="d-flex align-items-center">
            <mat-spinner
                    class="mr-2 color-medium-gray"
                    [diameter]="15"
                    [mode]="'indeterminate'">
            </mat-spinner>
            Loading
        </div>
        <div *ngIf="workflowExecutionPermissions.has(workflow.uid) && !workflowExecutionPermissions.get(workflow.uid).hasAnyActionPermissions()">
            No Permissions
        </div>
        <div *ngIf="workflowExecutionPermissions.has(workflow.uid)">
            <button *ngIf="workflowExecutionPermissions.get(workflow.uid).create" mat-menu-item (click)="onRerun(workflow)">
                <i class="far fa-play-circle mr-1 workflow-menu-icon"></i>
                Rerun
            </button>
            <button *ngIf="workflowExecutionPermissions.get(workflow.uid).delete" mat-menu-item (click)="onDelete(workflow)" [disabled]="!(workflow | workflowIsActive)">
                <i class="fas fa-trash mr-1 workflow-menu-icon"></i>
                Terminate
            </button>
        </div>
    </ng-template>
</mat-menu>
