<div class="workflow-executions-list">
    <cdk-table [dataSource]="executionWorkflows">
        <ng-container cdkColumnDef="name">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow">
                <a class="name-link" [routerLink]="['/', this.namespace, 'workflows', workflow.name]" >{{workflow.name}}</a>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="start">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="font-size-small font-roboto font-medium-gray">
                <div *ngIf="workflow.startedAt"><span class="timestamp d-inline-block">Started:</span><app-date class="" [dateTime]="workflow.startedAt"></app-date></div>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="end">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="font-size-small font-roboto font-medium-gray ml-5">
                <div *ngIf="workflow.finishedAt" class=""><span class="timestamp d-inline-block">Finished:</span><app-date class="" [dateTime]="workflow.finishedAt"></app-date></div>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="status">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="d-inline-flex align-items-end">
                <img *ngIf="workflow.phase" [src]="workflow.phase | phaseImage"/>
                <div class="ml-2 font-roboto-bold font-weight-bold">{{workflow.phase | phaseTranslate}}</div>
                <span *ngIf="workflow && workflow.succeeded" class="ml-1"> in </span>
                <app-clock
                           class="ml-2"
                           [startedAt]="workflow.startedAt"
                           [finishedAt]="workflow.finishedAt">
                </app-clock>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow">
                <div>
                    <a [routerLink]="['/', this.namespace, 'workflows', workflow.name]" class="link-button">View</a>
                    <button [class.hidden]="!workflow?.active" mat-button color="primary" class="font-proxima-bold font-size-regular" (click)="onTerminate(workflow)">TERMINATE</button>
                </div>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="spacer">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="flex-grow-1"></cdk-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="op-table-header"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: displayedColumns"
                 class="d-flex op-table-row align-items-center">
        </cdk-row>
    </cdk-table>
</div>
