<div class="workflow-executions-list">
    <cdk-table matSort
               matSortDisableClear="true"
               [dataSource]="workflowExecutions"
               [matSortActive]="sort"
               [matSortDirection]="sortDirection"
               (matSortChange)="sortData($event)">

        <ng-container cdkColumnDef="name">
            <cdk-header-cell *cdkHeaderCellDef mat-sort-header>Name</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow">
                <a class="name-link font-weight-bold font-roboto-bold" [routerLink]="['/', this.namespace, 'workflows', workflow.name]" >{{workflow.name}}</a>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="createdAt">
            <cdk-header-cell *cdkHeaderCellDef mat-sort-header>Created</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="font-size-small font-roboto font-medium-gray">
                <div *ngIf="workflow.createdAt"><app-date class="" [dateTime]="workflow.createdAt"></app-date></div>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="start">
            <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="ml-5">Start</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="ml-5 font-size-small font-roboto font-medium-gray">
                <div *ngIf="workflow.startedAt"><app-date class="" [dateTime]="workflow.startedAt"></app-date></div>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="end">
            <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="ml-5">End</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="font-size-small font-roboto font-medium-gray ml-5">
                <div *ngIf="workflow.finishedAt"><app-date class="" [dateTime]="workflow.finishedAt"></app-date></div>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="template">
            <cdk-header-cell *cdkHeaderCellDef class="ml-5">Template</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="font-size-small font-roboto font-medium-gray ml-5">
                <a [routerLink]="['/', this.namespace, 'workflow-templates', workflow.workflowTemplate.uid]"> {{workflow.workflowTemplate.name}}</a>
                <br/>
                <span class="font-size-small font-roboto font-medium-gray">Version: <app-date class="timestamp d-inline-block" [dateTime]="workflow.workflowTemplate.createdAt"></app-date></span>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="status">
            <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="ml-4">Status</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="ml-4">
                <app-work-status>
                    <img *ngIf="workflow.phase" class="icon offset-top-by-2" [src]="workflow.phase | phaseImage"/>
                    <div class="phase">
                        {{workflow.phase | phaseTranslate}}
                        <span *ngIf="workflow && workflow.succeeded" class="ml-1"> in </span>
                    </div>
                    <div class="bottom">
                        <app-clock
                                   [startedAt]="workflow.createdAt"
                                   [finishedAt]="workflow.finishedAt">
                        </app-clock>
                    </div>
                </app-work-status>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="metrics">
            <cdk-header-cell *cdkHeaderCellDef mat-sort-header class="ml-4">Metrics</cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="ml-2">
                <ng-container *ngIf="workflow.metrics">
                    <table class="font-roboto">
                        <ng-container *ngFor="let metric of workflow.metrics; let index = index">
                            <tr *ngIf="index == 0 || showAllMetrics">
                                <td class="pr-2 text-left">
                                    <strong>{{metric.name}}</strong>
                                </td>
                                <td *ngIf="metric.format === '%'" class="text-right">
                                    {{(metric.value).toFixed(2)}}%
                                </td>
                                <td *ngIf="!metric.format" class="text-right">
                                    {{metric.value}}
                                </td>
                            </tr>
                        </ng-container>
                    </table>

                    <div class="font-roboto font-size-regular underline pointer-hover mt-3" (click)="this.toggleShowMetrics()">
                        <span *ngIf="showAllMetrics">Hide metrics</span>
                        <span *ngIf="!showAllMetrics">Show all metrics</span>
                    </div>
                </ng-container>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow">
                <a class="link-button op-edit-button" [routerLink]="['/', this.namespace, 'workflows', workflow.name]">View</a>
                <button mat-icon-button color="primary" [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{'workflow': workflow}" (click)="onMatMenuOpen(workflow)">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="labels">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="flex-grow-1 w-100">
                <app-labels-list-view
                        *ngIf="workflow.labels"
                        class="d-block"
                        [labels]="workflow.labels">
                </app-labels-list-view>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="spacer">
            <cdk-header-cell *cdkHeaderCellDef class="font-roboto-bold font-size-regular color-medium-gray"></cdk-header-cell>
            <cdk-cell *cdkCellDef="let workflow" class="flex-grow-1"></cdk-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="op-table-header d-flex"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: displayedColumns"
                 class="d-flex flex-wrap op-table-row align-items-baseline">
        </cdk-row>
    </cdk-table>
</div>

<mat-menu #appMenu="matMenu" class="font-roboto">
    <ng-template matMenuContent let-workflow="workflow">
        <div mat-menu-item *ngIf="!workflowExecutionPermissions.has(workflow.uid)" class="d-flex align-items-center">
            <mat-spinner
                    class="mr-2 color-medium-gray"
                    [diameter]="15"
                    [mode]="'indeterminate'">
            </mat-spinner>
            Loading
        </div>
        <div *ngIf="workflowExecutionPermissions.has(workflow.uid) && !workflowExecutionPermissions.get(workflow.uid).hasAnyActionPermissions()">
            No Permissions
        </div>
        <div *ngIf="workflowExecutionPermissions.has(workflow.uid)">
            <button *ngIf="workflowExecutionPermissions.get(workflow.uid).create" mat-menu-item (click)="onRerun(workflow)">
                <i class="far fa-play-circle mr-1 workflow-menu-icon"></i>
                Rerun
            </button>
            <button *ngIf="workflowExecutionPermissions.get(workflow.uid).update" mat-menu-item (click)="onDelete(workflow)" [disabled]="!(workflow | workflowIsActive)">
                <i class="fas fa-trash mr-1 workflow-menu-icon"></i>
                Terminate
            </button>
        </div>
    </ng-template>
</mat-menu>
