@import "../../../styles/colors";

.workflow-executions-list {
  .op-table-header {
    margin-bottom: 0;
    padding: 20px 10px !important;
  }

  .cdk-column-name {
    flex-basis: 200px;
  }

  .cdk-column-createdAt {
    flex-basis: 210px;
  }

  .cdk-column-start {
    flex-basis: 210px;
  }

  .cdk-column-end {
    flex-basis: 210px;
  }

  .cdk-column-timestamps {
    flex-basis: 250px;
  }

  .cdk-column-template {
    flex-basis: 310px;
    max-width: 310px;
    text-align: left;
  }

  .cdk-column-status {
    flex-basis: 160px;
  }

  .cdk-column-metrics {
    flex-basis: 200px;

    table {
      position: relative;
      top: -1px
    }
  }

  .cdk-column-actions {
    min-width: 80px;
  }

  .phase-image {
    position: relative;
    bottom: 1px;
  }

  /deep/ .mat-sort-header-sorted {
    color: $darkest-gray;

    .mat-sort-header-arrow {
      color: $darkest-gray;
    }
  }

  .offset-top-by-2 {
    position: relative;
    top: 2px;
  }

  .cdk-column-labels {
    /deep/ .labels-list-view .labels-list-item {
      margin-top: 10px;
    }
  }
}

.workflow-menu-icon {
  width: 14px;
}
