.workflow-executions-list {
  .cdk-column-name {
    flex-basis: 200px;
  }

  .cdk-column-timestamps {
    flex-basis: 250px;
  }

  .cdk-column-status {
    flex-basis: 150px;
  }

  .timestamp {
    min-width: 60px;
  }
}
