@import "border-mixins";

.no-borders {
  border: none;
}

.op-border {
  @include op-border();
}

.op-border-small {
  @include op-border(2px);
}

.op-border-top {
  border-top: solid 1px $gray;
}

.op-just-border-top {
  border: none !important;
  border-top: solid 1px $gray !important;
}

.op-just-border-bottom {
  border: none !important;
  border-bottom: solid 1px $gray !important;
}

.op-border-bottom {
  border-bottom: solid 1px $gray;
}
