$black: black;
$white: white;
$lighter-white: #E8E8E8;
$light-white: #e0e0e0;
$medium-white: #f7f7f7;
$dark-white: #c1c1c1;
$primary-light: #EDF2FD;
$primary-lighter: #BED2FE;
$toolbar-white: #F5F5F5;
$primary: #01579b;
$primary-dark: rgb(1,87,155);
$primary-darker: #003D7A;
$secondary: #ff9100;
$danger: #d32345;
$danger-medium: #E4CACF;
$danger-light: #FEE9ED;
$light-gray: #f5f6fa;
$light-medium-gray: #d1d1d5;
$gray: #C1C1C1;
$medium-gray: #888888;
$dark-gray: #666666;
$darker-gray: #5B5B5B;
$success-light: #EBF6EE;
$success: #37AD58;

$background-color: $light-gray;

$colors: (
  "white": $white,
  "background-color": $background-color,
  "toolbar-white": $toolbar-white,
  "lighter-white": $lighter-white,
  "light-white": $light-white,
  "medium-white": $medium-white,
  "dark-white": $dark-white,
  "black": $black,
  "primary-light": $primary-light,
  "primary-lighter": $primary-lighter,
  "primary": $primary,
  "primary-dark": $primary-dark,
  "primary-darker": $primary-darker,
  "secondary": $secondary,
  "danger": $danger,
  "danger-medium": $danger-medium,
  "danger-light": $danger-light,
  "light-gray": $light-gray,
  "light-medium-gray": $light-medium-gray,
  "gray": $gray,
  "medium-gray": $medium-gray,
  "dark-gray": $dark-gray,
  "darker-gray": $darker-gray,
  "success-light": $success-light,
  "success": $success,
)
