$fontSmaller: 12px;
$fontSmall: 14px;
$fontSmallRegular: 15px;
$fontRegular: 16px;
$fontRegularLarge: 18px;
$fontLarge: 20px;
$fontLarger: 24px;
$fontXL: 30px;
$fontXXL: 42px;

$fontSizes: (
  "smaller": $fontSmaller,
  "small": $fontSmall,
  "regular": $fontRegular,
  "regular-large": $fontRegularLarge,
  "large": $fontLarge,
  "larger": $fontLarger,
  "XL": $fontXL,
  "XXL": $fontXXL,
);

$fontProxima: 'Proxima Nova Regular', sans-serif;
$fontProximaBold: 'Proxima Nova Bold', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontRobotoBold: 'Roboto Bold', sans-serif;

$fontFamilies: (
  "proxima": $fontProxima,
  "proxima-bold": $fontProximaBold,
  "roboto": $fontRoboto,
  "roboto-bold": $fontRobotoBold,
);
