@import "../../../styles/colors";
@import "../../../styles/styles";

.alert {
  @include op-border();
  padding: 10px 20px;

  button {
    opacity: 0.6;
  }
}

.alert-title {
  font-weight: bold;
}

.alert-success {
  border-color: $success;
  background-color: $success-light;
}

.alert-danger {
  border-color: $danger;
  background-color: $danger-light;
  color: $danger;
}

.alert-action {
}

.alert-info {
  background-color: #FFF7E4;
  border-color: #FFC84C;
}
