<div class="page">
    <div class="page-alerts mb-5">
        <app-alert-panel></app-alert-panel>
    </div>
    <div class="page-header">
        <div class="page-title">
            <div class="page-title-text">Workspaces</div>
            <div class="page-action-bar d-flex">
                <button mat-stroked-button color="primary" class="op-rounded op-button vertical-align-icon vertical-baseline-mat-icon-fa" [routerLink]="['/', this.namespace, 'workspace-templates']">
                    <mat-icon [fontSet]="'fas'" [fontIcon]="'fa-desktop'"></mat-icon>
                    <span class="ml-1">TEMPLATE BUILDER</span>
                </button>
                <button mat-flat-button color="accent" class="op-rounded op-button ml-3" (click)="createWorkspace()">
                    <mat-icon class="icon">add_circle</mat-icon>
                    <span class="ml-1">Create Workspace</span>
                </button>
            </div>
        </div>
    </div>

    <div class="page-body mt-3 workflow-list">
        <cdk-table [dataSource]="workspaces">
            <ng-container cdkColumnDef="name">
                <cdk-header-cell *cdkHeaderCellDef>Name</cdk-header-cell>
                <cdk-cell *cdkCellDef="let workspace">
                    <div>
                        <div>
                            <a class="name-link font-roboto-bold font-weight-bold" target="_blank" [routerLink]="['/', this.namespace, 'workspaces', workspace.uid]">{{workspace.name}}</a>
                        </div>
                        <span class="color-medium-gray font-size-small">uid: {{workspace.uid}}</span>
                    </div>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="status">
                <cdk-header-cell *cdkHeaderCellDef>Status</cdk-header-cell>
                <cdk-cell *cdkCellDef="let workspace">
                    <app-workspace-status [workspace]="workspace"></app-workspace-status>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="template">
                <cdk-header-cell *cdkHeaderCellDef>Template</cdk-header-cell>
                <cdk-cell *cdkCellDef="let workspace">
                    <app-workspace-template-summary
                            [workspaceTemplate]="workspace.workspaceTemplate">
                    </app-workspace-template-summary>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="createdAt">
                <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
                <cdk-cell *cdkCellDef="let workspace" class="font-size-small font-roboto font-medium-gray">
                    Created: <app-date class="d-inline-block ml-2" [dateTime]="workspace.createdAt"></app-date>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="timestamp-status">
                <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
                <cdk-cell *cdkCellDef="let workspace" class="font-size-small font-roboto font-medium-gray">
                    <span *ngIf="workspace.status?.startedAt && workspace.status.phase !== 'Paused'">
                        Started:
                        <app-date class="d-inline-block ml-2" [dateTime]="workspace.status.startedAt"></app-date>
                    </span>
                    <span *ngIf="workspace.status?.pausedAt && workspace.status.phase === 'Paused'">
                        Paused:
                        <app-date class="d-inline-block ml-2" [dateTime]="workspace.status.pausedAt"></app-date>
                    </span>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="spacer">
                <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
                <cdk-cell *cdkCellDef="let workflow" class="flex-grow-1"></cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="actions">
                <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
                <cdk-cell *cdkCellDef="let workspace" class="flex align-items-center">
                    <a class="link-button" target="_blank" [routerLink]="['/', this.namespace, 'workspaces', workspace.uid]">View</a>
                    <button mat-icon-button color="primary" class="ml-3" [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{'workspace' :workspace}" (click)="onMatMenuOpen(workspace)">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="labels">
                <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
                <cdk-cell *cdkCellDef="let workspace" class="flex-grow-1 w-100">
                    <app-labels-list-view
                            *ngIf="workspace.labels"
                            class="d-block"
                            [labels]="workspace.labels">
                    </app-labels-list-view>
                </cdk-cell>
            </ng-container>

            <!-- Header and Row Declarations -->
            <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="d-flex align-items-baseline op-table-header"></cdk-header-row>
            <cdk-row *cdkRowDef="let workflowTemplate; columns: displayedColumns"
                     class="d-flex flex-wrap align-items-baseline op-table-row">
            </cdk-row>
        </cdk-table>
        <app-call-to-action *ngIf="workspaces.length === 0 && state === 'new'">
            <img class="icon" width="37" src="../../assets/images/workflows-icon.svg"/>
            <div class="header">Get started with workspaces</div>
            <div class="body">This is where all your workspaces live.</div>
            <a class="action underline pointer-hover" (click)="createWorkspace()">Create a new workspace</a>
        </app-call-to-action>

        <app-loading-content *ngIf="state === 'loading-initial-data'">
            Loading Workspaces
        </app-loading-content>
    </div>
</div>
<mat-paginator class="no-background font-size-small"
               *ngIf="workspaceResponse"
               (page)="onPageChange($event)"
               [pageIndex]="this.pagination.page"
               [length]="this.workspaceResponse.totalCount"
               [pageSize]="this.pagination.pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<mat-menu #appMenu="matMenu" class="font-roboto">
    <ng-template matMenuContent let-workspace="workspace">
        <div mat-menu-item *ngIf="!workspacePermissions.has(workspace.uid)" class="d-flex align-items-center">
            <mat-spinner
                     class="mr-2 color-medium-gray"
                     [diameter]="15"
                     [mode]="'indeterminate'">
            </mat-spinner>
            Loading
        </div>
        <div *ngIf="workspacePermissions.has(workspace.uid) && !workspacePermissions.get(workspace.uid).hasAnyActionPermissions()">
            No Permissions
        </div>
        <div *ngIf="workspacePermissions.has(workspace.uid)">
            <button *ngIf="workspace.status.phase === 'Running' && workspacePermissions.get(workspace.uid).update" mat-menu-item (click)="onPause(workspace)">
                <i class="far fa-pause-circle mr-1 workspace-menu-icon"></i>
                Pause
            </button>
            <button *ngIf="workspace.status.phase === 'Paused' && workspacePermissions.get(workspace.uid).update" mat-menu-item (click)="onResume(workspace)">
                <i class="far fa-play-circle mr-1 workspace-menu-icon"></i>
                Resume
            </button>
            <button *ngIf="workspace.status.phase.toLowerCase().indexOf('fail') > -1" mat-menu-item (click)="onRetryLastAction(workspace)">
                <i class="fas fa-redo mr-1 workspace-menu-icon"></i>
                Retry
            </button>
            <button *ngIf="workspacePermissions.get(workspace.uid).delete && workspace.status.phase.toLowerCase() != 'failed to terminate'" mat-menu-item (click)="onDelete(workspace)" [disabled]="workspace.status.phase === 'Terminating'">
                <i class="fas fa-trash mr-1 workspace-menu-icon"></i>
                Terminate
            </button>
        </div>
    </ng-template>
</mat-menu>
