<div class="page">
    <div class="page-alerts mb-5">
        <app-alert-panel></app-alert-panel>
    </div>
    <div class="page-header">
        <div class="page-title">
            <div class="page-title-text">Workspaces</div>
            <div class="page-action-bar d-flex">
                <button *ngIf="workspaceTemplatePermissions.list" mat-stroked-button color="primary"
                        class="op-rounded op-button vertical-align-icon vertical-baseline-mat-icon-fa"
                        [routerLink]="['/', this.namespace, 'workspace-templates']">
                    <mat-icon [fontSet]="'fas'" [fontIcon]="'fa-desktop'"></mat-icon>
                    <span class="ml-1">WORKSPACE TEMPLATES</span>
                </button>
                <button *ngIf="workspacePermissions.create" mat-flat-button color="accent"
                        class="op-rounded op-button ml-3" (click)="createWorkspace()">
                    <mat-icon class="icon">add</mat-icon>
                    <span class="ml-1">Create Workspace</span>
                </button>
            </div>
        </div>
    </div>

    <div class="page-body mt-3 workflow-list">
        <app-workspaces
                class="app-workspaces"
                [namespace]="namespace"
                (workspacesChanged)="workspacesChanged($event)">
        </app-workspaces>
        <app-call-to-action *ngIf="showWorkspacesCallToAction">
            <img class="icon" width="37" src="../../assets/images/workflows-icon.svg"/>
            <div class="header">Get started with workspaces</div>
            <div class="body">This is where all your workspaces live.</div>
            <a class="action underline pointer-hover" (click)="createWorkspace()">Create a new workspace</a>
        </app-call-to-action>
    </div>
</div>
