.cdk-column-name {
  min-width: 200px;
  max-width: 200px;
}

.cdk-column-template {
  width: 150px;
}

.cdk-column-createdAt {
  width: 250px;
}

.cdk-column-timestamp-status {
  width: 250px;
}

.cdk-column-status {
  min-width: 200px;
}

.workspace-menu-icon {
  width: 14px;
}

.cdk-column-labels {
  /deep/ app-labels-list-view .labels-list-item {
    margin-top: 10px;
  }
}
