.cdk-column-name {
  min-width: 300px;
  max-width: 300px;
}

.cdk-column-status {
  min-width: 200px;
}

.workspace-menu-icon {
  width: 14px;
}


.cdk-column-labels {
  /deep/ app-labels-list-view .labels-list-item {
    margin-top: 10px;
  }
}
