@import "../colors";

header {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 50px;
}

/deep/ .mat-form-field-wrapper {
  padding-bottom: 0;
}

/deep/ .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

/deep/ .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: white;
}
