<app-alert [autoDismiss]="false" [alert]="error"></app-alert>
<app-alert *ngIf="notification" [autoDismiss]="false" [alert]="notification"></app-alert>
<div class="op-border hide-overflow mt-3">
    <div class="toolbar bg-toolbar-white w-100 op-border-bottom d-flex justify-content-between">
        <div class="d-flex flex-row-reverse" [ngClass]="{'w-50': state !== 'editor', 'w-100': state === 'editor'}">
            <button mat-button color="primary" class="link-button font-size-regular" (click)="toggleFullWidthEditor()">
                <i *ngIf="state !== 'editor'" class="fas fa-chevron-right"></i>
                <i *ngIf="state === 'editor'" class="fas fa-chevron-left"></i>
            </button>
        </div>
        <button *ngIf="state !== 'editor'" mat-button color="primary" class="link-button font-size-regular" (click)="toggleFormRender()">
            <img src="/assets/images/render-icon.svg" class="mr-2 bottom-adjust">
            <ng-container *ngIf="state === 'editor-and-dag'">
                Show parameters form preview
            </ng-container>
            <ng-container *ngIf="state === 'editor-and-parameters'">
                Show graph preview
            </ng-container>
        </button>
    </div>
    <div class="two-panels {{state}}">
        <ace-editor
                class="panel"
                [mode]="'yaml'"
                [text]="manifestText"
                (textChanged)="onManifestChange($event)"
                [durationBeforeCallback]="500"
                [options]="{
                            showInvisibles: false,
                            showPrintMargin: false,
                            scrollPastEnd: 1,
                            showLineNumbers: true,
                            tabSize: 2
                          }">
        </ace-editor>
        <app-dag class="panel">
        </app-dag>


        <app-form class="panel scroll-overflow"
                  [fieldData]="parameters">
        </app-form>
    </div>
</div>
