<mat-form-field *ngIf="inputType !== 'hidden'" appearance="outline" class="onepanel-dynamic-input">
    <mat-label>
        <ng-container *ngIf="data.displayName">
            {{data.displayName}}
        </ng-container>
        <ng-container *ngIf="!data.displayName">
            {{data.name}}
        </ng-container>
    </mat-label>
    <input #inputElement matInput [type]="inputType" [ngModel]="data.value" (ngModelChange)="setDataValue(inputElement.value)" [formControl]="inputControl"/>
    <mat-hint *ngIf="data.hint">{{data.hint}}</mat-hint>
    <mat-error>
        Must not be blank
        <span *ngIf="inputType === 'number'">
            and must be a number
        </span>
    </mat-error>
</mat-form-field>
<ng-container *ngIf="inputType === 'hidden'">
    <input #inputElement [type]="inputType" [ngModel]="data.value" (ngModelChange)="setDataValue(inputElement.value)" [formControl]="inputControl"/>
</ng-container>
