@import "../../../styles/colors";

.op-info-box {
  padding-left: 50px;
  padding-right: 50px;
}

.two-panels {
  display: flex;
  height: 500px;

  .panel {
    flex-grow: 1;
    resize: none;
  }

  app-dag {
    flex-grow: 1;
    width: 50%;
    box-sizing: content-box;
  }

  app-form {
    flex-grow: 1;
    width: 50%;
    box-sizing: content-box;
  }
}

app-workflow-template-select {
  flex-basis: 240px;
}

/deep/ .highlight-error {
  position:absolute;
  background: #d32345AA;
  z-index:20
}

.template-description {
  min-height: 400px;
  /deep/ .mat-tab-list {
    background-color: $toolbar-white;
  }
}