<form [formGroup]="form" class="page-body workspace-template-create">
    <div class="op-info-box mt-8">
        <div class="header fix-mat-overflow">
            <mat-form-field appearance="outline" class="wp-400">
                <mat-label>Template name</mat-label>
                <input formControlName="templateNameInput" matInput/>
                <mat-error *ngIf="!templateNameInput.hasError('conflict')">Name must not be empty</mat-error>
                <mat-error *ngIf="templateNameInput.hasError('conflict')">That name is already taken</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="template-description fix-mat-overflow">
            <mat-label>Template description</mat-label>
            <textarea matInput formControlName="templateDescriptionInput"></textarea>
        </mat-form-field>
        <app-manifest-dag-editor
                [manifestText]="manifest"
                [manifestInterceptor]="apiManifestInterceptor"
                (manifestTextModified)="onManifestTextModified($event)">
        </app-manifest-dag-editor>
        <div class="mt-5">
            <div class="op-h2">Labels</div>
            <app-labels-edit class="d-inline-block mt-3" [labels]="labels" ></app-labels-edit>
        </div>
        <div class="mt-5 d-flex justify-content-between">
            <button mat-button class="font-medium-gray cancel-button" (click)="cancel()">CANCEL</button>
            <app-button (click)="save()" [loading]="loading">
                Save
                <span class="loading">Saving</span>
            </app-button>
        </div>
    </div>
</form>
