<mat-toolbar *ngIf="!loggingIn" color="primary" class="app-toolbar">
  <a style="height: 32px;" [routerLink]="['/']"><img src="/assets/images/onepanel-logo-white.svg"/></a>
  <div class="ml-5 font-size-regular font-roboto-bold font-white link-wrapper" [class.active]="activeRoute === 'templates'">
    <a [routerLink]="['/', selectedNamespace, 'workflow-templates']">WORKFLOWS</a>
  </div>
  <div class="ml-5 font-size-regular font-roboto-bold font-white link-wrapper" [class.active]="activeRoute === 'secrets'" >
    <a [routerLink]="['/', selectedNamespace, 'secrets']">SETTINGS</a>
  </div>
  <div class="flex-grow-1"></div>
  <div class="d-flex font-roboto dropdown bg-primary-darker align-items-center h-100" (click)="onFormFieldClick()">
    <div>
      <div class="namespace font-size-smaller">Namespace</div>
      <div class="name font-size-regular">{{namespaceTracker.activeNamespace}}</div>
    </div>
    <mat-icon class="ml-5">arrow_drop_down</mat-icon>
  </div>
  <mat-form-field class="font-size-small mat-form-white-outline hidden">
    <mat-label>Namespace</mat-label>
    <mat-select [panelClass]="'match-nav-select'" [(value)]="selectedNamespace" (valueChange)="onNamespaceChange()">
      <mat-option *ngFor="let namespace of namespaces" [value]="namespace.name">{{namespace.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<router-outlet></router-outlet>
