.workspace-template-summary-view {
  width: 290px;
  height: 190px;
  padding: 27px;
  box-sizing: border-box;
  background-color: white;

  i {
    font-size: 60px;
    color: #9B9B9B;
  }

  .title {
    font-weight: 900;
  }
}
