.workspace-template-summary-view {
  width: 290px;
  height: 190px;
  padding: 27px;
  box-sizing: border-box;
  background-color: white;

  .icon-content {
    position: relative;
    left: 20px;
  }

  i {
    font-size: 60px;
    color: #9B9B9B;
  }

  .title {
    font-weight: 900;
  }
}

.workspace-template-menu-icon {
  width: 14px;
}
