<div class="workspace-template-summary-view op-border op-rounded-regular d-inline-flex flex-column align-items-center">
    <div class="d-inline-flex justify-content-between w-100 align-items-center">
        <div class="ml-3 font-roboto" [class.visible]="deleting" [class.hidden]="!deleting">
            <img class="terminating-icon" src="/assets/images/status-icons/failed.svg"/>
            <span class="ml-2">Deleting</span>
        </div>
        <button [class.hidden]="!showMenu" mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <div class="content text-center">
        <i [class]="iconClass"></i>
        <div class="title font-proxima-bold font-size-regular mt-3">{{template.name}}</div>
        <div class="title font-proxima font-size-regular color-dark-gray mt-3">
            <ng-container *ngIf="!template.description">
                No description
            </ng-container>
            <ng-container *ngIf="template.description">
                {{template.description}}
            </ng-container>
        </div>
    </div>
</div>

<mat-menu #appMenu="matMenu">
    <button *ngIf="permissions.create" mat-menu-item (click)="createWorkspace()">
        <i class="far fa-play-circle mr-1 workspace-template-menu-icon"></i>
        Create workspace
    </button>
<!--    <button mat-menu-item (click)="deleteWorkspaceTemplate(template)">-->
<!--        <i class="far fa-clone mr-1 workspace-template-menu-icon"></i>-->
<!--        Clone-->
<!--    </button>-->
    <button mat-menu-item (click)="shareWorkspaceTemplate(template)">
        <i class="far fa-copy mr-1 workspace-template-menu-icon"></i>
        Copy URL
    </button>
    <button *ngIf="permissions.delete" mat-menu-item (click)="deleteWorkspaceTemplate(template)">
        <i class="fas fa-trash mr-1 workspace-template-menu-icon"></i>
        Delete
    </button>
</mat-menu>
