<div class="page">
    <div class="page-header">
        <div class="page-links">
            <a [routerLink]="['/', this.namespace, 'secrets']" class="op-back-link">
                <i class="fas fa-chevron-left"></i>
                <span>Back to secrets</span>
            </a>
        </div>
        <div class="page-title text-center">
            <div class="page-title-text">Secrets</div>
        </div>
    </div>

    <div class="page-body mt-8 workflow-list op-form">
        <div class="header">
            Edit secret
        </div>
        <form class="mt-5" [formGroup]="form">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label>Key name</mat-label>
                <input formControlName="keyName" matInput type="text">
                <mat-hint>No spaces, only '_' and cannot start with a number</mat-hint>
            </mat-form-field>
            <mat-form-field class="d-block mt-5" appearance="outline">
                <mat-label>Value</mat-label>
                <textarea formControlName="value" maxlength=255 rows="6" matInput></textarea>
            </mat-form-field>
        </form>

        <div class="d-flex justify-content-between">
            <button mat-button class="font-medium-gray cancel-button" (click)="cancel()">CANCEL</button>
            <button mat-flat-button color="accent" class="op-rounded op-button border-secondary" (click)="save()">SAVE</button>
        </div>
    </div>
</div>
