.chip-modifications {
  border: 1px solid #888 !important;
  border-radius: 2px !important;
  background-color: transparent !important;
  padding: 2px 4px;
}

.labels-list {
  .labels-list-item {
    margin-right: 10px;
  }
}
