app-activity-bar {
  display: block;
}

app-status {
  height: 40px;
  line-height: 40px;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

app-node-info {
  width: 420px;
  position: fixed;
  right: 0;
  bottom: 0;

  /deep/ .root-element {
    height: 100%;
    overflow: scroll;
  }
}
