<div class="font-roboto">
    <div class="font-weight-bold font-size-regular">{{workspace.name}}</div>
    <div class="font-size-small color-medium-gray">{{workspace.workspaceTemplate.name}}</div>

    <app-labels-viewer
            *ngIf="workspace.labels || loadingLabels"
            [labels]="workspace.labels"
            [loading]="loadingLabels"
            class="d-inline-block mr-2">
    </app-labels-viewer>
    <button *ngIf="permission.update"
            mat-button color="primary"
            class="op-edit-button"
            (click)="onEditLabels()">
        <i class="fas fa-pencil-alt mr-2"></i> EDIT LABELS
    </button>
</div>
