<div class="page">
    <div class="page-alerts mb-5">
        <app-alert-panel></app-alert-panel>
    </div>
    <div class="page-title-text text-center">Environment variables</div>

    <div class="page-body mt-8">
        <div class="page-title-text">Manage environment variables</div>
        <app-secret-list class="mt-8" [namespace]="this.namespace"></app-secret-list>

        <button mat-stroked-button color="primary" class="font-roboto-bold mt-8 font-weight-bold font-size-large add-environment-variable vertical-align-icon" (click)="createEnvironmentVariable()">
            <mat-icon>add_circle</mat-icon>
            ADD ENVIRONMENT VARIABLE
        </button>
    </div>
</div>
