@import '../../styles/info-box-mixins';

.page {
  .page-header {
  }

  .page-title {

  }

  .page-body {
    @include op-info-box-base();

    width: 800px;
    margin: auto;
  }

  app-secret-list {
    display: block;
  }
}
