<div class="page">
    <div class="page-alerts mb-5">
        <app-alert-panel></app-alert-panel>
    </div>
    <div class="page-title-text text-center">Environment variables</div>

    <div class="page-body mt-8">
        <div class="page-title-text">Manage environment variables</div>
        <div class="environment bg-primary-light op-rounded-regular mt-5">
            <div class="mt-1 font-roboto font-size-regular color-black">
                <div>
                    <p>These environment variables are automatically added to any Workspace or Workflow execution.</p>
                    <p>They are also available in <strong>onepanel-default-env</strong> secret in the current namespace if you need to access them in other resources.</p>
                </div>
            </div>
        </div>
        <app-secret-list class="mt-8" [namespace]="this.namespace"></app-secret-list>

        <button mat-stroked-button color="primary" class="op-rounded op-button" (click)="createEnvironmentVariable()">
            <mat-icon>add</mat-icon>
            ADD ENVIRONMENT VARIABLE
        </button>
    </div>
</div>
