<div class="page">
    <div class="page-header">
        <div class="page-title text-center">
            <div class="page-title-text">Secrets</div>
            <div class="page-action-bar">
                <a href="#" class="help-link">How to use</a>
                <a mat-flat-button color="accent" class="op-rounded op-button ml-p40" [routerLink]="['/', this.namespace, 'secrets', 'onepanel-default-env', 'create']">
                    <mat-icon id="create-button" class="icon">add_circle</mat-icon>
                    <span class="ml-1">Create Secret</span>
                </a>
            </div>
        </div>
    </div>

    <div class="page-body mt-8">
        <app-secret-list [namespace]="this.namespace"></app-secret-list>
    </div>
</div>
