@import '../../styles/info-box-mixins';

.page {
  .page-body {
    @include op-info-box-base();

    width: 800px;
    margin: auto;
  }

  app-secret-list {
    display: block;
  }
}

.environment {
  padding: 20px;
}

