.workspace-paused {
  margin-top: 80px !important;
  margin-bottom: 40px !important;
  width: 600px;

  .workspace-paused-icon {
    position: relative;
    top: 2px;
    font-size: 20px;
  }

  .fix-position-bottom {
    position: relative;
    bottom: 5px;
  }

  // Without this, the button "jumps" when the spinner is added.
  .hacky-fix {
    width: 0;
    height: 20px; // This must match the spinner diameter
  }

  /deep/ .app-form {
    .onepanel-dynamic-select {
      width: 348px;
    }
  }
}
