<cdk-table [dataSource]="secrets">
    <ng-container cdkColumnDef="key">
        <cdk-header-cell *cdkHeaderCellDef>Key</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="flex-shrink-0">
            <div>{{row.name}}</div>
        </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="value">
        <cdk-header-cell *cdkHeaderCellDef>Value</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="flex-grow-1">
            <div *ngIf="isSecretShown(row.name)">{{row.value | base64decode}}</div>

            <div *ngIf="!isSecretShown(row.name)">...............................</div>
        </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
        <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="font-roboto flex-shrink-0">
            <button *ngIf="!isSecretShown(row.name)" mat-button color="primary" class="link-button font-size-regular"
                    (click)="showSecret(row.name)">
                <mat-icon [fontSet]="'far'" [fontIcon]="'fa-eye'"></mat-icon>
                View
            </button>
            <button *ngIf="isSecretShown(row.name)" mat-button color="primary" class="link-button font-size-regular"
                    (click)="hideSecret(row.name)">
                <mat-icon [fontSet]="'far'" [fontIcon]="'fa-eye-slash'"></mat-icon>
                View
            </button>

            <button mat-button color="primary" class="link-button font-size-regular">
                <mat-icon [fontSet]="'fas'" [fontIcon]="'fa-pen'"></mat-icon>
                Edit
            </button>
            <button mat-button color="primary" class="link-button font-size-regular">
                <mat-icon [fontSet]="'fas'" [fontIcon]="'fa-trash'"></mat-icon>
                Remove
            </button>
        </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="spacer">
        <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="flex-grow-1"></cdk-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="d-flex align-items-baseline"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns"
             class="d-flex align-items-baseline font-roboto">
    </cdk-row>
</cdk-table>
