@import "../../../styles/colors";
@import "../../../styles/font-variables";

.cdk-column-key {
  flex-basis: 220px;
}

.cdk-column-value {
  overflow: scroll;
}

.cdk-header-cell {
  font-family: $fontRobotoBold;
  font-size: $fontRegular;
  color: $black;
  font-weight: bold;
}

.cdk-header-row {
  padding-bottom: 8px;
  border-bottom: 2px solid $gray;
}

.cdk-row {
  border-bottom: 1px solid $gray;

  min-height: 50px;

  &:last-child {
    border-bottom: none;
  }
}

.no-secret-data {
  width: 380px;
  color: $medium-gray;
  margin: auto;
  text-align: center;

  .header {
    font-family: $fontProximaBold;
    font-size: $fontLarge;
  }

  .body {
    font-family: $fontRoboto;
    font-size: $fontRegular;
  }
}
