@import "../../../styles/colors";

.definition-header {
  background-color: #F5F5F5;
  height: 40px;
}

.two-panels {
  display: flex;
  height: 500px;
  overflow: hidden;

  div {
    flex-grow: 1;
    resize: none;
    width: 50%;
  }
  app-dag {
    background-color: white;
    flex-grow: 1;
    width: 50%;
  }
}

/deep/ mat-paginator .mat-icon-button {
  line-height: 27px !important;
}
