<div class="font-roboto">
    <div class="d-flex justify-content-between">
        <div *ngIf="values.length > 0">
            <span class="font-weight-bold">{{values[0]}}</span> running
        </div>
        <div *ngIf="values.length > 1">
            <span class="font-weight-bold">{{values[1]}}</span> completed
        </div>
        <div *ngIf="values.length > 2" class="ml-3">
            <span class="font-weight-bold">{{values[2]}}</span> failed
        </div>
        <div *ngIf="values.length > 3" class="ml-3">
            <span class="font-weight-bold">{{values[3]}}</span> terminated
        </div>
    </div>
    <div>
        <ng-container *ngFor="let elementStyle of styles; let index = index; let last = last">
            <div *ngIf="values[index] != 0" [ngStyle]="elementStyle" [matTooltip]="tooltips[index]"
                 class="d-inline-block">
            </div>
        </ng-container>
    </div>
</div>
