<div class="page">
    <div class="page-alerts mb-5">
        <app-alert-panel></app-alert-panel>
    </div>
    <div class="page-header">
        <div class="page-title">
            <div class="page-title-text">Dashboard</div>
        </div>
    </div>
    <div class="page-body mt-3">
        <app-dashboard-workflow
            [namespace]="namespace">
        </app-dashboard-workflow>

        <app-dashboard-workspace
                class="mt-6 d-block"
                [namespace]="namespace">
        </app-dashboard-workspace>
    </div>
</div>
