/deep/ .onepanel-dynamic-input {
  width: 100%;
}

/deep/ .onepanel-dynamic-textarea {
  width: 100%;
}

/deep/ .onepanel-dynamic-select {
  width: 100%;
}

.form-item {
  display: block;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.extraBottomSpace {
  margin-bottom: 15px;
}
