<cdk-table [dataSource]="items">
    <ng-container cdkColumnDef="key">
        <cdk-header-cell *cdkHeaderCellDef>Key</cdk-header-cell>
        <cdk-cell *cdkCellDef="let label" class="d-inline-flex flex-column">
            <input #inputKey
                   [value]="label.item.key"
                   (keyup)="onKeyChange(label.item, inputKey.value)"
                   [formControl]="label.controlKey"/>
            <span *ngIf="label.controlKey.invalid && !label.controlKey.pristine" class="color-danger font-size-small">Must not be blank.
            </span>
        </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="value">
        <cdk-header-cell *cdkHeaderCellDef>Value</cdk-header-cell>
        <cdk-cell *cdkCellDef="let label" class="d-inline-flex flex-column">
            <input #inputValue
                   [value]="label.item.value"
                   (keyup)="onValueChange(label.item, inputValue.value)"
                   [formControl]="label.controlValue"/>
            <span *ngIf="label.controlValue.invalid && !label.controlValue.pristine" class="color-danger font-size-small">Must not be blank.</span>
        </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="delete">
        <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
        <cdk-cell *cdkCellDef="let label">
            <button mat-icon-button class="close-button" aria-label="close icon" (click)="onDelete(label)">
                <mat-icon>close</mat-icon>
            </button>
        </cdk-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="d-flex"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns"
             class="d-flex align-items-baseline flex-wrap">
    </cdk-row>
</cdk-table>

<div class="d-flex flex-row-reverse">
    <a class="link-button text-center w-100 mt-3 add-button" (click)="onAdd()">Add</a>
</div>
