.cdk-header-row {
  padding-bottom: 8px;
}

.cdk-row {
  max-width: 350px;
  margin-top: 5px;
}

.cdk-column-key {
  width: 130px;
}

.cdk-column-value {
  width: 130px;
  margin-left: 5px;
}

.label-edit-add {
  width: 350px !important;
}

.delete-button {
}

/deep/ .mat-icon-button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/deep/ mat-form-field.small {

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-infix  {
    border: none;
    padding: 0.55em 0 0.25em 0;
  }
}
