.cdk-header-row {
}

.cdk-row {
  margin-top: 5px;
}

.cdk-column-key {
}

.cdk-column-value {
  margin-left: 5px;
}

.delete-button {
}

/deep/ .mat-icon-button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
