<div class="dashboard-workspace">
    <div class="op-border op-info-box">
        <div class="header">
            <div class="title">
                <div>Workspaces</div>
            </div>
        </div>
        <div class="d-flex">
            <div *ngIf="stats" class="stats-container">
                <app-stat-bar
                        [title]="'Launching'"
                        [value]="stats.launching"
                        [maxValue]="statsTotal"
                        (click)="setPhase('Launching')"
                        [class.phase-unselected]="workspacePhase && workspacePhase !== 'Launching'"
                        color="rgb(1, 87, 155)"
                        class="stat-bar mt-40px">
                    <a href="#" *ngIf="workspacePhase === 'Launching'" class="clear-phase" (click)="clearPhase($event)">clear</a>
                </app-stat-bar>
                <app-stat-bar
                        [title]="'Running'"
                        [value]="stats.running"
                        [maxValue]="statsTotal"
                        (click)="setPhase('Running')"
                        [class.phase-unselected]="workspacePhase && workspacePhase !== 'Running'"
                        color="rgb(55, 173, 88)"
                        class="stat-bar mt-40px">
                    <span *ngIf="workspacePhase === 'Running'" class="clear-phase"
                          (click)="clearPhase($event)">clear</span>
                </app-stat-bar>
                <app-stat-bar
                        [title]="'Paused'"
                        [value]="stats.paused"
                        [maxValue]="statsTotal"
                        (click)="setPhase('Paused')"
                        [class.phase-unselected]="workspacePhase && workspacePhase !== 'Paused'"
                        class="stat-bar mt-40px"
                        color="rgb(255, 200, 76)">
                    <span *ngIf="workspacePhase === 'Paused'" class="clear-phase"
                          (click)="clearPhase($event)">clear</span>
                </app-stat-bar>
                <app-stat-bar
                        [title]="'Updating'"
                        [value]="stats.updating"
                        [maxValue]="statsTotal"
                        (click)="setPhase('Updating')"
                        [class.phase-unselected]="workspacePhase && workspacePhase !== 'Updating'"
                        color="rgb(255, 145, 0)"
                        class="stat-bar mt-40px">
                    <span *ngIf="workspacePhase === 'Updating'" class="clear-phase"
                          (click)="clearPhase($event)">clear</span>
                </app-stat-bar>
                <app-stat-bar
                        [title]="'Failed'"
                        [value]="stats.failed"
                        [maxValue]="statsTotal"
                        (click)="setPhase('Failed')"
                        [class.phase-unselected]="workspacePhase && workspacePhase !== 'Failed'"
                        class="stat-bar mt-40px"
                        color="rgb(211, 35, 69)">
                    <span *ngIf="workspacePhase === 'Failed'" class="clear-phase"
                          (click)="clearPhase($event)">clear</span>
                </app-stat-bar>
            </div>
            <div class="flex-grow-1">
                <app-workspaces
                        [namespace]="namespace"
                        [phase]="workspacePhase"
                        [pageSize]="5"
                        (workspacesChanged)="workspacesChanged($event)">
                </app-workspaces>
                <app-call-to-action *ngIf="hasWorkspaces !== undefined && !hasWorkspaces">
                    <div class="header text-center d-block">Get started with workspaces</div>
                    <div class="body">This is where all your workspace statistics live.</div>
                    <a class="action underline pointer-hover" [routerLink]="['/', this.namespace, 'workspaces']">Create
                        a workspace</a>
                </app-call-to-action>
            </div>
        </div>
    </div>
</div>
