<app-work-status>
    <app-workspace-phase-icon class="icon" [phase]="workspace.status.phase"></app-workspace-phase-icon>
    <span class="phase">{{workspace.status.phase | workspacePhaseStatus}}</span>
    <div class="bottom" [ngSwitch]="workspace.status.phase">
        <ng-container *ngSwitchCase="'Running'">
            <app-clock
                    [startedAt]="workspace.status.startedAt"
                    [durationFormatter]="daysDurationFormatter">
            </app-clock>
        </ng-container>
        <ng-container *ngSwitchCase="'Pausing'">
        </ng-container>
        <ng-container *ngSwitchCase="'Paused'">
            <app-clock
                    [startedAt]="workspace.status.pausedAt"
                    [durationFormatter]="daysDurationFormatter">
            </app-clock>
        </ng-container>
        <ng-container *ngSwitchCase="'Terminating'">
        </ng-container>
        <ng-container *ngSwitchCase="'Terminated'">
        </ng-container>
    </div>
</app-work-status>
